{% extends 'blog/base.html' %}

{% block content %}
    <div class="post">
        {% if publicacion.published_date %}
        <div class="date">
        {{ publicacion.published_date }}
        </div>
        {% else %}
            <a class="btn btn-default" href="{% url 'post_publish' pk=publicacion.pk %}">Publish</a>
        {% endif %}
        <a class="btn btn-default" href="{% url 'post_edit' pk=publicacion.pk %}"><span class="glyphicon glyphicon-pencil"></span></a>
        <a class="btn btn-default" href="{% url 'post_remove' pk=publicacion.pk %}"><span class="glyphicon glyphicon-remove"></span></a>
        <h2>{{ publicacion.title }}</h2>
        <p>{{ publicacion.text|linebreaksbr }}</p>
    </div>
{% endblock %}